@model HoldPlease.Models.Service

@{
    ViewData["Title"] = "NewRequest";
}

<h2>Request a Spot Holder</h2>
<hr />
<form asp-action="NewRequest">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="name" class="col-md-2 control-label">Service Name</label>
            <div class="col-md-10">
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="location" class="col-md-2 control-label">Location</label>
            <div class="col-md-10">
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="startAt" class="col-md-2 control-label">Start</label>
            <div class="col-md-10">
                <input asp-for="startAt" class="form-control" type="datetime-local"/>
                <span asp-validation-for="startAt" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="endAt" class="col-md-2 control-label">End</label>
            <div class="col-md-10">
                <input asp-for="endAt" class="form-control" type="datetime-local"/>
                <span asp-validation-for="endAt" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
