@{
    ViewData["Title"] = "Home Page";
}

<h2> Welcome to HoldPlease! Where you can request a real live person to hold your spot in line! </h2>
<h4> Select Request a Holder to request someone to hold your spot!</h4>
<h4> Select Create Account to do just that!</h4>